@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

nav {
    @apply bg-blue-500
}

nav ul {
    @apply flex flex-row justify-evenly;
    list-style: none;
}

.link {
    @apply text-blue-500 underline
}

button {

    @apply rounded-2xl px-2 py-1 text-white bg-blue-500 cursor-pointer hover:bg-blue-500/80

}

/* Tables */

.table-container {

    @apply border rounded-xl m-8 p-2 border-black w-3/4;

}

.table-header {

    @apply bg-gray-300;

}


.profile-nav {

    @apply w-full h-full flex justify-center items-center hover:bg-gray-900 cursor-pointer;

}